extends ./base.jade
block append style
	link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
	nav
		.navlink
			a(href="/login") Back
		.navlink
			a(href="/logout") Log out
	section#Top
		h1.characterTitleA These are your Characters
		h1.characterTitleB Hover over a character for more detailed info
	section#characters
		if !characters || characters.length == 0
			div.character
				h3.emptyCharacter No Characters yet
		else
			each val in characters
				div.newCharacter
					h3.characterName Name: #{val.name}
					h3.characterColor Color: #{val.color}
					p.info
						| Your name is #{val.name}, you were born into a age of war...
						| You and your family are of the #{val.color} tribe. You have been taught to be loyal 
						| and fierce..Fend off the waring tribe by collecting the most energy and Win! 
	#characterMessage
		img#speech(src="/assets/img/speech.png", alt="speech box")
		h3
			span#errorMessage
block scripts
	script(src="/assets/maker.js")